<footer>
           
        <div>
            <img class="logo-foo img-fluid" src="../../static/img/principal.png" alt="logo de veterinaria"></a>
        </div>
        <div>
            <p>
                E-MAIL: info@tiendademascotas.com <br>
                TEL: 123-456-789
                <br> CALLE: Mayor 123 e/ Av. Primavera y Av. Flores <br>
                Ciudad Autónoma de Buenos Aires -    Argentina</p>
            </div>
            <div>
                <p>Síguenos en redes sociales:
                    <div>
                        <a href="#" class="facebook"> <img class="img-fluid" src="../../static/img/facebook.png" alt="logo de facebook"></a>
                        <a href="#" class="instagram"> <img class="img-fluid" src="../../static/img/instagram.png" alt="logo de instagram"></a>
                        <a href="#" class="x"> <img class="img-fluid" src="../../static/img/x.jpeg" alt="logo de x"></a>
                    </div>
                </p>
            </div>
        </footer>
        
        <div class="base">
            <h5> ©️ Todos los derechos reservados | Grupo 3 - Codo a Codo 4.0 - Python</h5>
        </div>