<div class="loader">
    <div class="dog">
        <div class="ear ear-left"></div>
        <div class="ear ear-right"></div>
        <div class="face">
            <div class="eye eye-left"></div>
            <div class="eye eye-right"></div>
            <div class="nose"></div>
        </div>
        <div class="body"></div>
        <div class="tail"></div>
    </div>
</div>

<div class="content">

<nav>
<div class="tel">
    <h5>☎️ URGENCIAS: 123-456-789      |      EN HORARIO COMERCIAL: 987-654-321 ⚕️</h5>
</div>
    <header>
        <div>
            <img class="img-fluid" src="../../static/img/principal.png" alt="logo de perro">
        </div>
        <div>
            <a href="/" class="link-header">Inicio</a>
            <a href="/productos" class="link-header">Productos</a>
            <a href="/servicios" class="link-header">Servicios</a>
            <a href="/contacto" class="link-header">Contacto</a>
            <a href="/nosotros" class="link-header">Nosotros</a>
        </div>
    </header>
</nav>