{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<body>

       
    <section class="nosotros">
        <div class="nosotros-contenido">
            <br><br>


            <p class="format2">Somos una tienda dedicada al cuidado y bienestar de tus mascotas. 
                En nuestro pet shop, nos esforzamos por ofrecer productos de alta calidad
                y un servicio excepcional para satisfacer todas las necesidades de tus
                amigos peludos.
            </p>

            <p class="format2" >Nuestro equipo está formado por amantes de los animales con años de experiencia en el cuidado y
                entrenamiento de mascotas. Estamos comprometidos a proporcionar asesoramiento <br>
                experto 
                y atención personalizada para garantizar la salud <br>y la felicidad de tus compañeros de vida.</p>
            <p class="format2" >
                En Pet Shop, valoramos la relación especial que compartes con tus mascotas y nos 
                enorgullece ser parte de su historia.
            </p>

            <p class="format2" ><strong>¡Esperamos verte pronto en nuestra tienda!</strong></p>
        </div>
    </section>

    {% include 'defaults/footer.html' %}

</body>

</html>