{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<body>

<div class="todosLosProductos">

    <section class="categoria">
        
        <h2 style="text-shadow: 3px 5px rgba(0, 0, 0, 0.747); font-weight: 900; font-size: 300%;" >ALIMENTOS</h2>
        
        <div class="categoria-contenido">
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 8%;" src="../static/img/alimento.jpeg" class="card-img-top" alt="Alimento para perros">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Comida seca para perros medianos con pollo y arroz</h5>
                    <p style="color: black !important;" class="card-text">$35.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 8%;" src="../static/img/alimento-gato.jpeg" class="card-img-top" alt="Alimento para gatos">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Comida para gatos 85g. atún y sardinas</h5>
                    <p style="color: black !important;" class="card-text">$32.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
            
        </div>
        
        <h2 style="text-shadow: 3px 5px black; font-size: 350%; font-weight: 900; margin-top: 8%;">ACCESORIOS</h2>
        
        <div class="categoria-contenido">
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 5%;" src="../static/img/cama-perros.jpeg" class="card-img-top" alt="Cama para perros y gatos">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Cama Moises Woof Dogit para perros y gatos</h5>
                    <p style="color: black !important;" class="card-text">$29.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
            
            <div class="card" style="width: 18rem; padding-top: 5%; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 8%;" src="../static/img/collares-animales.jpeg" class="card-img-top" alt="collares para perro">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Pack de 6 collares <br>con cascabel para gato</h5>
                    <p style="color: black !important;" class="card-text">$31.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 7%;" src="../static/img/chaleco-perro.jpeg" class="card-img-top" alt="Chaleco para perro">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Chaleco para perro, <br>campera militar en gabardina</h5>
                    <p style="color: black !important;" class="card-text">$56.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
        </div>
        
        <h2 style="text-shadow: 3px 5px black; font-size: 350%; font-weight: 900; margin-top: 5%;" >JUGUETES</h2>
        <div class="categoria-contenido">
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 7%;" src="../static/img/juguete-perro.jpeg" class="card-img-top" alt="Juguete para perro">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Soga de juguete para perro, 2 nudos de puro algodon y 20cms</h5>
                    <p style="color: black !important;" class="card-text">$2.700</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
            
            
            <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
                <img style="margin-left: 7%;" src="../static/img/juguete-gato-raton.jpeg" class="card-img-top" alt="Juguete para gato">
                <div class="card-body">
                    <h5 style="font-weight: bold;" class="card-title">Juguete de ratoncito electronico interactivo para gatos</h5>
              <p style="color: black !important;" class="card-text">$50.000</p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
        
        
        <div class="card" style="width: 18rem; box-shadow: 5px 5px 10px black;">
            <img style="margin-left: 7%;" src="../static/img/juguete-perro-hueso.jpeg" class="card-img-top" alt="Juguete para perros">
            <div class="card-body">
                <h5  style="font-weight: bold;" class="card-title">Juguete para perros grandes y pequeños</h5>
                <p style="color: black !important;" class="card-text">$13.000</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
        
    </section>
    
    {% include 'defaults/footer.html' %}
    
</body>
</div>

</html>