{% include 'defaults/head.html' %}
{% include 'defaults/header.html' %}

<body>

    <div class="service">
        <div class="service-titulo">
            <h1 style="color: white !important;" class="format">Nuestros Servicios</h1>
        </div>
        <div class="servicio-contenido">
            <div class="service-item">
                <img src="./img/veterinaria.jpg" alt="">
                <div class="capa">
                    <h3 style="color: white !important;" class="format2">Veterinaria</h3>
                    <p style="color: white !important;" class="format3">Contamos con un equipo de veterinarios altamente calificados para atender todas las
                        necesidades
                        médicas de tus mascotas, desde exámenes de rutina hasta tratamientos especializados.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="./img/peluqueria.jpg" alt="">
                <div class="capa pelu">
                    <h3 style="color: white !important;" class="format2" >Peluquería</h3>
                    <p style="color: white !important;" class="format3">Haz que tus mascotas luzcan su mejor aspecto con nuestros servicios de peluquería
                        profesional.
                    </p>
                </div>
            </div>
        </div>
        <div class="servicio-contenido">
            <div class="service-item">
                <img src="./img/baño.jpg" alt="">
                <div class="capa">
                    <h3 style="color: white !important;" class="format2">Baño y cuidado</h3>
                    <p style="color: white !important;" class="format3">Deja que nuestros expertos cuiden de la higiene y el bienestar de tus mascotas con nuestros
                        servicios de baño y cuidado.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="./img/nutricion.jpg" alt="">
                <div class="capa nutricion">
                    <h3 style="color: white !important;" class="format2">Asesoramiento Nutricional</h3>
                    <p style="color: white !important;" class="format3">Obtén asesoramiento personalizado sobre la dieta y la nutrición 
                    adecuadas para tus mascotas.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'defaults/footer.html' %}
    
</body>

</html>